.rangeslider-wrap {
  padding-top: 15px;
}

.rangeslider {
  position: relative;
  height: 4px;
  border-radius: 5px;
  width: 100%;
  background-color: gray;
}

.rangeslider__handle {
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #004C8D;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 3;
  top: -8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 2px white;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 2px white;
}

.rangeslider__handle__value {
  -webkit-transition: background-color .2s,  -webkit-box-shadow .1s, -webkit-transform .1s;
  transition: background-color .2s,  -webkit-box-shadow .1s, -webkit-transform .1s;
  transition: background-color .2s,  box-shadow .1s, transform .1s;
  transition: background-color .2s,  box-shadow .1s, transform .1s,  -webkit-box-shadow .1s, -webkit-transform .1s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90px;
  text-align: center;
  padding: 8px 5px;
  background-color: #004C8D;
  border-radius: 5px;
  color: white;
  left: -35px;
  bottom: -45px;
  position: absolute;
  white-space: nowrap;
  border-top: 1px solid #00315a;
  -webkit-box-shadow: 0 -4px 1px rgba(0, 0, 0, 0.07), 0 -5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -4px 1px rgba(0, 0, 0, 0.07), 0 -5px 20px rgba(0, 0, 0, 0.3);
}

.rangeslider__handle__value:before {
  -webkit-transition: border-top-color .2s;
  transition: border-top-color .2s;
  position: absolute;
  top: -10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: calc(50% - 10px);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid;
  border-top-color: #004C8D;
}

.rangeslider__handle__value:after {
  content: " $";
}

.rangeslider__fill {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: #004C8D;
  border-radius: 5px;
}

.rangeslider__labels {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rangeslider__labels__label {
  font-size: 0.75em;
  position: relative;
  padding-top: 15px;
  color: gray;
}

.rangeslider__labels__label:before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 1px;
  height: 9px;
  border-radius: 1px;
  background-color: transparent !important;
}

.rangeslider__labels__label:first-child:before, .rangeslider__labels__label:last-child:before {
  height: 12px;
  width: 2px;
}

.rangeslider__labels__label:first-child:before {
  background-color: #004C8D;
}

.rangeslider__labels__label:last-child:before {
  background-color: gray;
}

.rangeslider__labels__label:first-child {
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
}

.rangeslider__labels__label:last-child {
  -webkit-transform: translateX(48%);
          transform: translateX(48%);
}

.rangeslider.rangeslider--active .rangeslider__handle, .rangeslider.rangeslider--active .rangeslider__handle * {
  background-color: #0067c0;
}

.rangeslider.rangeslider--active .rangeslider__handle *:before {
  border-top-color: #0067c0;
}

.rangeslider.rangeslider--active .rangeslider__handle__value {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.04), 0 -9px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.04), 0 -9px 25px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=rangeslider.css.map */